.project {
  width: 100%;

  min-height: 100vh;

  background: black;

  color: white;

  padding: 120px 180px;

  box-sizing: border-box;
}

.title h2 {
  color: #316bff;

  font-size: 42px;

  margin: 0;
}

.title h1 {
  font-size: 80px;

  margin-top: 20px;

  margin-bottom: 40px;
}

.title p {
  font-size: 28px;
}

.title span {
  color: #316bff;
}

.generation {
  display: flex;

  gap: 35px;

  margin-top: 70px;

  margin-bottom: 70px;
}

.generation button {
  background: none;

  border: none;

  color: #8e8e8e;

  font-size: 24px;

  cursor: pointer;
}

.generation button:first-child {
  color: white;

  border-bottom: 2px solid #316bff;

  padding-bottom: 8px;
}

.project-grid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 70px 40px;
}
